.gamedetails{
    background-color: #4b5264;
    color: white;
    width: 70vw;
    margin-bottom: 15px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}
.gamedetails__heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 5px;
}
.gamedetails__heading > p{
    color: #8e939e;
    font-size: 0.85em;
}
.gamedetails__body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5px;
}
.gamedetails__bets{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gamedetails__bet{
    background-color: #2d3446;
    font-size: 1.2em;
    font-weight: 600;
    padding: 16px 30px;
    border-radius: 15px;
    margin-left: 20px;
}
@media screen and (max-width:769px) {
    .gamedetails{
        width: 75vw;
    }
}
@media screen and (max-width:520px) {
    .gamedetails{
        width: 82vw;
    }
}
@media screen and (max-width:450px) {
    .gamedetails__bet{
        font-size: 1em;
    }
    .gamedetails__body > h3{
        font-size: 1.1em;
    }
    .gamedetails{
        width: 90vw;
    }
}