.gamedetails{
    background-color: #4b5264;
    color: white;
    width: 60vw;
    margin-bottom: 15px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}
.gamedetails__heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 3px;
}
.gamedetails__body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5px;
}
.gamedetails__bets{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gamedetails__bet{
    background-color: #2d3446;
    font-size: 1.2em;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 15px;
    margin-left: 20px;
}