.login{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.login__body{
    flex: 1;
    display: grid;
    place-items: center;
    background-color: #151923;
}
.login__form{
    background-color: #4b5264;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 20px 18px;
    border-radius: 20px;
}
.login__form > h1{
    color: white;
    margin-bottom: 20px;
    font-size: 2.5em;
}
.login__form > button{
    width: 35vw;
    background-color: #3327bd;
    border: none;
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;
}
.login__form > p{
    margin-top: 20px;
    color: white;
    font-size: 1.1em;
}
.login__form > p > a > span{
    color: #ff9ff5;
    margin-left: 2px;
}
.login__form > p > a{
    text-decoration: none;
}
.login__input > p{
    color: white;
    font-size: 1.2em;
}
.login__input{
    margin-bottom: 20px;
}
.login__inputField{
    display: flex;
    background-color: white;
    width: 35vw;
    height: 5vh;
    padding: 7px;
    border-radius: 5px;
    overflow: hidden;
}
.login__inputField > input{
    flex: 1;
    border: none;
    background-color: transparent;
}
.login__inputField > input:focus{
    outline: none;
}

@media screen and (max-width:550px) {
    .login__inputField{
        width: 40vw;
    }
    .login__form{
        padding: 20px 14px;
    }
}
@media screen and (max-width:480px) {
    .login__inputField{
        width: 43vw;
    }
    .login__form{
        padding: 17px 12px;
    }
}
@media screen and (max-width:414px) {
    .login__inputField{
        width: 45vw;
    }
    .login__form{
        padding: 17px 10px;
    }
}
@media screen and (max-width:350px) {
    .login__inputField{
        width: 50vw;
    }
    .login__form{
        padding: 14px 8px;
    }
}
@media screen and (max-width:328px) {
    .login__inputField{
        width: 55vw;
    }
    .login__form{
        padding: 14px 6px;
    }
}

