.overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
}
.close{
    cursor: pointer;
}
.creategame{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background-color: #1d1e2a;
    color: white;
    padding: 13px;
    padding-top: 20px;
    border-radius: 15px;
}
.creategame__inputs{
    background-color: #151923;
    height: 35px;
    padding: 3px;
    display: flex;
    width: 600px;
    font-size: 1.4em;
}
.creategame__inputs > input{
    background-color: transparent;
    color: white;
    border: none;
    flex: 1;
}
.creategame__inputs > input:focus{
    outline: none;
}
.creategame__teams{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.creategame__inputshalf{
    background-color: #151923;
    display: flex;
    height: 35px;
    padding: 3px;
    width: 290px;
    border-radius: 3px;
    font-size: 1.4em;
}
.creategame__inputshalf > input{
    background-color: transparent;
    color: white;
    border: none;
    flex: 1;
}
.creategame__inputshalf > input:focus{
    outline: none;
}
.creategame > button{
    background-color: #3f33c2;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 1.3em;
    font-weight: 600;
    margin-top: 15px;
}
.creategame__header{
    text-align: center;
    font-size: 1.6em;
    position: relative;
    margin-bottom: 20px;
}
.creategame__body > p , .creategame__team > p{
    font-size: 1.4em;
    font-weight: 500;
}
.creategame__header > .MuiSvgIcon-root{
    position: absolute;
    top: -10px;
    right: -10px;
}
@media screen and (max-width:658px) {
    .creategame__inputs{
        width: 85vw;
    }
    .creategame__header{
        font-size: 1.2em;
    }
    .creategame__inputshalf{
        width: unset;
    }
    .creategame__teams{
        flex-direction: column;
        align-items: unset;
    }
    .creategame{
        height: 90vh;
        overflow-y: scroll;
    }
}