.overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
}
.close{
    cursor: pointer;
}
.admingame{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background-color: #1d1e2a;
    padding: 30px 40px;
    border-radius: 18px;
    width: 700px;
}
.admingame > p{
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
}
.admingame__buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.admingame__buttons > .MuiSvgIcon-root{
    color: white;
    position: absolute;
    top: -10px;
    right: -30px;
}
.admingame__control{
    background-color: #3f33c2;
    color: white;
    border: none;
    font-size: 1.7rem;
    font-weight: 700;
    padding: 25px 20px;
    border-radius: 15px;
    margin-right: 10px;
}
.admingame__games{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.admingame__gamesEmpty{
    color: white;
    text-align: center;
}
.admingame__games > *{
    flex: 0.20;
    margin-right: 15px;
    margin-bottom: 15px;
}
@media screen and (max-width:720px) {
    .admingame{
        width: 550px;
    }
    .admingame__control{
        font-size: 1.3rem;
    }
    .admingame__games{
        flex-direction: column;
    }
    .admingame__games > *{
        margin-right: 0px;
    }
}
@media screen and (max-width:600px) {
    .admingame{
        width: 450px;
    }
    .admingame__control{
        font-size: 1.1rem;
    }
    .admingame__games{
        flex-direction: column;
    }
    .admingame__games > *{
        margin-right: 0px;
    }
}
@media screen and (max-width:490px) {
    .admingame{
        width: 350px;
    }
    .admingame__control{
        font-size: 1rem;
    }
    .admingame__games{
        flex-direction: column;
    }
    .admingame__games > *{
        margin-right: 0px;
    }
}
@media screen and (max-width: 385px) {
    .admingame{
        width: 300px;
    }  
    .admingame__control{
        padding: 15px 10px;
    }  
}
