.gamecomponent{
    text-align: center;
    position: relative;
    background-color: #151923;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 15px;
    width: 140px;
}
.gamecomponent > img{
    width: 60px;
    object-fit: contain;
    position: absolute;
    top: -18px;
    right: -19px;
}
.gamecomponent__odds{
    background-color: #3f33c2;
}
.gamecomponent__odds{
    border-radius: 0px 0px 15px 15px;
    padding: 3px;
}
@media screen and (max-width:720px) {
    .gamecomponent{
        width: 300px;
    }
}
@media screen and (max-width:486px) {
    .gamecomponent{
        width: 200px;
    }
}