.overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
}
.close{
    cursor: pointer;
}
.editgame{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background-color: #1d1e2a;
    color: white;
    padding: 13px;
    padding-top: 20px;
    border-radius: 15px;
}
.editgame__inputs{
    background-color: #151923;
    height: 35px;
    padding: 3px;
    display: flex;
    width: 600px;
}
.editgame__inputs > input{
    background-color: transparent;
    color: white;
    border: none;
    flex: 1;
}
.editgame__inputs > input:focus{
    outline: none;
}
.editgame__teams{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.editgame__inputshalf{
    background-color: #151923;
    display: flex;
    height: 35px;
    padding: 3px;
    width: 290px;
    border-radius: 3px;
}
.editgame__inputshalf > input{
    background-color: transparent;
    color: white;
    border: none;
    flex: 1;
}
.editgame__inputshalf > input:focus{
    outline: none;
}
.editgame > button{
    background-color: #3f33c2;
    color: white;
    border: none;
    padding: 7px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: 600;
}
.editgame__header{
    text-align: center;
    font-size: 1.2em;
    position: relative;
}
.editgame__body > p , .editgame__team > p{
    font-size: 1.1em;
    font-weight: 600;
}
.editgame__header > .MuiSvgIcon-root{
    position: absolute;
    top: -10px;
    right: -10px;
}
.editgame__lock{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.editgame__lock > button{
    background-color: #1e5e99;
    color: white;
    padding: 7px 15px;
    border: none;
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 4px;
    width: 290px;
}
.editgame__lock > button:nth-child(2){
    background-color: #ae4949 !important;
}
.editgame__payout{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.editgame__payout > button{
    background-color: #3d96e8;
    color: white;
    padding: 7px 15px;
    border: none;
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 4px;
    width: 290px;
}
.editgame__payout > button:nth-child(2){
    background-color: #f27272 !important;
}
@media screen and (max-width:658px) {
    .editgame{
        height: 90vh;
        overflow-y: scroll;
    }
    .editgame__inputs{
        width: 85vw;
    }
    .editgame__inputshalf{
        width: 85vw;
    }
    .editgame__teams{
        flex-direction: column;
        align-items: unset;
    }
    .editgame__lock > button{
        width: unset;
        margin-top: 4px;
    }
    .editgame__payout > button{
        width: unset;
        margin-top: 4px;
    }
    .editgame__lock{
        flex-direction: column;
        align-items: unset;
    }
    .editgame__payout{
        flex-direction: column;
        align-items: unset;
    }
}
