.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1d1e2a;
    width: 100vw;
    overflow: hidden;
    padding: 10px;
    min-height: 55px;
    position: relative;
}
.header__logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo > h2{
    color: white;
    font-size: 2em;
}
.header__users{
    display: flex;
    align-items: center;
    margin-left: 15px;
    background-color: #101014;
    padding: 5px;
    border-radius: 6px;
}
.header__users > .MuiSvgIcon-root{
    color: #3f33c2;
}
.header__users > p{
    color: white;
    margin-left: 5px;
}
.header__buttons{
    display: flex;
    align-items: center;
}
.header__login{
    background-color: #101014;
    color: white;
    font-weight: 700;
    border: none;
    padding: 8px 13px;
    border-radius: 7px;
    margin-right: 10px;
    cursor: pointer;
}
.header__signup{
    background-color: #3f33c2;
    color: white;
    font-weight: 700;
    border: none;
    padding: 8px 13px;
    border-radius: 7px;
    cursor: pointer;
}
.header__user{
    display: flex;
    align-items: center;
    font-size: 1.1em;
}
.header__username{
    display: flex;
    align-items: center;
    background-color: #0f0f13;
    padding: 5px;
    border-radius: 10px 0px 0px 10px;
    height: 34px;
    cursor: pointer;
}
.header__username > .MuiSvgIcon-root{
    color: #ff9ff5;
}
.header__username > p{
    color: #ffff;
    font-weight: 600;
}
.header__amount{
    background-color: #3f33c2;
    color: #ffff;
    padding: 6px 16px;
    font-weight: 600;
    border-radius: 8px 10px 10px 8px;
    margin-left: -3px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__amount > img{
    width: 20px;
    object-fit: contain;
    margin-left: 10px;
    cursor: pointer;
}
.header__claimBalance{
    background-color: #3f33c2;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: 600;
    padding: 5px 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

@media screen and (max-width:638px) {
    .header__claimBalance{
        font-size: 0.9em;
        font-weight: 500;
        transform: translateX(-40%);
    }   
}
@media screen and (max-width:460px) {
    .header__logo > h2{
        font-size: 1.4em;
    }
    .header__username{
        font-size: 0.8em;
    }
    .header__username > .MuiSvgIcon-root{
        font-size: 1.5em;
    }
    .header__amount{
        font-size: 0.8em;
    }
    .header__users{
        font-size: 0.8em;
    }
    .header__users > .MuiSvgIcon-root{
        font-size: 1.5em;
    }
    .header__login{
        font-size: 0.8em;
        font-weight: 600;
    }
    .header__signup{
        font-size: 0.8em;
        font-weight: 600;
    }
}
@media screen and (max-width:370px) {
    .header__users{
        margin-left: 8px;
    }
}
@media screen and (max-width:348px) {
    .header__logo > h2{
        font-size: 1.2em;
    }
    .header__amount{
        padding: 8px 10px;
    }
    .header{
        padding: 8px;
    }
    .header__login{
        margin-right: 7px;
    }

}