.overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
}
.settingsmodal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background-color: #1d1e2a;
    padding: 15px 40px;
    border-radius: 18px;
    width: fit-content;
}
.settingsmodal__input > img{
    height: 45px;
    object-fit: contain;
}
.settingsmodal__header{
    display: flex;
    align-items: center;
    color: white;
    position: relative;
    justify-content: center;
    margin-bottom: 20px;
}
.settingsmodal__header > .MuiSvgIcon-root{
    position: absolute;
    top: -5px;
    right: -30px;
}
.settingsmodal__form{
    display: flex;
    flex-direction: column;
    width: 30vw;
}
.settingsmodal__form > p{
    color: white;
    font-size: 1.2em;
}
.settingsmodal__input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #151923;
    overflow: hidden;
    color: white;
}
.settingsmodal__inputone{
    display: flex;
    justify-content: space-between;
    background-color: #151923;
    align-items: center;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 12px;
    color: white;
}
.settingmodal__buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.logout{
    background-color: #3f33c2;
    color: white;
    border: none;
    font-size: 1.3em;
    font-weight: 700;
    padding: 4px 8px;
    border-radius: 5px;
}
.delete{
    background-color: #e53838;
    color: white;
    border: none;
    font-size: 1.3em;
    font-weight: 700;
    padding: 4px 8px;
    border-radius: 5px;
}
@media screen and (max-width:872px) {
    .settingsmodal__form{
        width: 38vw;
    }
    
}
@media screen and (max-width:662px) {
    .settingsmodal__form{
        width: 45vw;
    }
    
}
@media screen and (max-width:570px) {
    .logout,.delete{
        font-size: 1.1em;
    }    
}
@media screen and (max-width:508px) {
    .logout,.delete{
        font-size: 1em;
    }
    .settingsmodal__form{
        width: 50vw;
    }
}
@media screen and (max-width:410px) {
    .settingsmodal__form{
        width: 60vw;
    }
    
}
@media screen and (max-width:344px) {
    .settingsmodal__form{
        width: 65vw;
    }
    
}
