.overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
}
.createbet{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background-color: #1d1e2a;
    color: white;
    padding: 10px 35px;
    border-radius: 20px;
}
.createbet > p{
    font-size: 1.1rem;
}
.createbet__header{
    position: relative;
    margin-bottom: 20px;
}
.createbet__header > .MuiSvgIcon-root{
    position: absolute;
    top: 5px;
    right: -20px;
}
.createbet__amount{
    background-color: #151923;
    display: flex;
    margin-bottom: 10px;
    width: 300px;
    border-radius: 3px;
}
.createbet__amount > input{
    flex: 1;
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px 4px;
    font-size: 1.2rem;
}
.createbet__amount > input:focus{
    outline: none;
}
.createbet__buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
.blue{
    background-color: #3d96e8;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
}
.red{
    background-color: #f27272;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
}
@media screen and (max-width: 414px) {
    .createbet__amount{
        width:230px;
    }
    .red,.blue{
        font-size: 0.8rem;
    }
}
