.message{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    background-color: #2d3446;
    padding: 5px;
}
.message__alternate{
    background-color: #1d1e2a !important;
}
.message__admin{
    display: flex;
    align-items: center;
}
.message__admin > p{
    font-weight: 700;
}
.message__user{
    display: flex;
    align-items: center;
    margin-left: 4px;
}
.message__user p:first-of-type{
    font-weight: 700;
    margin-right: 2px;
}
.message__admin > .MuiSvgIcon-root{
    color: #ff9ff5;
}