.message{
    color: white;
    background-color: #2d3446;
    padding: 5px;
    cursor: pointer;
}
.message__alternate{
    background-color: #1d1e2a !important;
}
.message__admin{
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    word-break: break-all;
}
.message__admin > span{
    margin-left: 5px;
}
.message__message{
    font-weight: normal;
    margin-left: 5px;
}
.message__admin > .MuiSvgIcon-root{
    color: #ff9ff5;
    font-size: 1.2em !important;
}
.message__admin > span > .MuiSvgIcon-root{
    font-size: 1.1em !important;
    margin-right: 3px;
}